@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* HEADER NAV */
header {
  font-family: 'Raleway', 'sans-serif';
  box-sizing: border-box;
  top: 0;
  width: 100%;
  margin: 0;
  margin-left: -0.51%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #ededed;
  position: absolute;

  display: flex;
  background-color: #1b1b1c;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 0px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #ededed;
}

.nav_links li a:hover {
  color: #d9b411;
}

button {
  padding: 9px 25px;
  background-color: #d9b411;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #ededed;
  background-color: #1e1e1f;
}



input[type='checkbox'] {
  display: none;
}

.toggle:checked + .lbl-toggle {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 2px 4px;
}

.lbl-toggle:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 2px 4px;
}

.lbl-toggle {
  margin-bottom: 7px;
  font-size: 12.5px;
}

.lbl-toggle:hover::before, .lbl-toggle:hover::after {
  display:inline-block;
  margin: -4px;
  transition: transform .3s ease-out;
}

.lbl-toggle::after {
  display: none;
  content: '< ';
  transition: transform .6s ease-out;
}

.lbl-toggle::before {
  display: none;
  content: '> ';
  transition: transform .6s ease-out;
}

.toggle:checked + .lbl-toggle::before, .toggle:checked + .lbl-toggle::after {
  display:inline-block;
  margin: -4px;
  transform: rotate(180deg) translateY(-1.5px) translateX(1px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .2s ease-in-out;
}

.collapsible-content ul, .collapsible-content li {
  text-align:left;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 300vh;
}

.collapsible-wrapper {
  margin: 6px;
}
