@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* HEADER NAV */
header {
  font-family: 'Raleway', 'sans-serif';
  box-sizing: border-box;
  top: 0;
  width: 100%;
  margin: 0;
  margin-left: -0.51%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #ededed;
  position: absolute;

  display: flex;
  background-color: #1b1b1c;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 0px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #ededed;
}

.nav_links li a:hover {
  color: #d9b411;
}

button {
  padding: 9px 25px;
  background-color: #d9b411;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #ededed;
  background-color: #1e1e1f;
}



input[type='checkbox'] {
  display: none;
}

.toggle:checked + .lbl-toggle {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 2px 4px;
}

.lbl-toggle:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 2px 4px;
}

.lbl-toggle {
  margin-bottom: 7px;
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 14px:

}

.lbl-toggle:hover {
  color: #d9b411;
}


.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .2s ease-in-out;
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 14px:
}

.collapsible-content ul, .collapsible-content li {
  text-align:left;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 300vh;
}

.collapsible-wrapper {
  margin: 6px;
}
h2{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
}
h1{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 40px;
  text-align: center;
}
h3{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 24px;
  padding-left: 5%;
  padding-right: 5%:
}
p{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%:
}
label{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 32px;
  padding-left: 5%;
  padding-right: 5%:
}
h4{
  font-family: 'Raleway', 'sans-serif';
  color: #ededed;
  font-size: 28px;
  padding-left: 5%;
  padding-right: 5%:
}
* {box-sizing: border-box}


.container {
  position: relative;
  width: 50%;
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;
}


.image {
  display: block;
  width: 675px;
  height: 420px;
  padding-left: 5%;
  padding-right: 5%;
}


.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 675px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Raleway', 'sans-serif';
}


.container:hover .overlay {
  opacity: 1;
  padding-left: 5%;
  padding-right: 5%;
}
